<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   
     <title>Custom Directives</title>
    <script src="Scripts/angular.js"></script>
    <script src="scripts.js"></script>
    <script src="Scripts/ckeditor/ckeditor.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="MyController">
        <div my-customer></div>

        <div template-url></div>

        <div my-name type="name"></div>
        <div my-name type="address"></div>

        <isolate-scope info="naomi"></isolate-scope>
        <hr>
        <isolate-scope info="igor"></isolate-scope>

        <br />
        Date format: <input ng-model="format"> 
        Current time is: <span my-current-time="format"></span>

        <br />

        <my-dire name="{{employee.name}}" address="employee.address" save="saveChanges('sample coding')">
        </my-dire>
        <!--<div>
            <textarea class="ck-editor" ng-model="text" ></textarea>
            <label>{{text}}</label>
        </div>-->
    </div>
</body>
</html>
